h1 {
  margin: 0;
  padding: 0;
}
h3 {
  margin: 0;
  padding: 0;
}
html, body, .app {
  margin: 0 auto;
  padding: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
input[type=text], input[type=amount] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  position: absolute;
    top: 0px;
    right: 0px;
    bottom: 25px;
    left: 200px;
}
.center-div
{
    margin: 0 auto;
    display: block;
}

.fixed-action-btn{
right:50px;/*desired value*/
}

.display {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 30%; }

.popup {
  position: fixed;
  width: 50%;
  height: 50%;
  top: 0;
  left: 200px;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
}
.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

